<ion-header>
  <ion-toolbar>
    <ion-title>Ask for feedback</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="friends">
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups">
        <ion-label>Groups</ion-label>
      </ion-segment-button>
      <ion-segment-button value="public">
        <ion-label>Public</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="friendChange($event)">
      <ion-item 
          *ngFor="let friend of friends" 
          (click)="selectFriendName(friend.name, friend.email)">
        <ion-radio slot="start" value="{{friend.id}}"></ion-radio>
        <ion-avatar *ngIf="(friend.profileImage == '')">
          <ion-icon name="happy-outline" size="large"></ion-icon>
        </ion-avatar>        
        <ion-avatar>
          <ion-img [src]="friend.profileImage" *ngIf="(friend.profileImage !== '')"></ion-img>
        </ion-avatar>
        <ion-label class="friends-card"> {{ friend.name == '' ? friend.email : friend.name }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer>
  <div *ngIf="selectedFriendId != ''">
    <ion-button 
      (click)="selectFriend()"
      fill="solid" 
      expand="block" 
      color="secondary">
      <ion-icon name="person" slot="start"></ion-icon>
      Ask {{ selectedFriendDisplayedString }}<br>for feedback
      <ion-icon name="send" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-footer>