<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="../../assets/icon/icon.png">
    </ion-thumbnail>
    <ion-title>Videos</ion-title>
    <ion-buttons slot="end">
      <ion-button 
        size="small" color="primary" 
        *ngIf="currentUserImage == '' || currentUserImage == null"
        routerLink="../community/profile">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        <ion-icon name="happy-outline"></ion-icon>
      </ion-button>      
      <ion-button 
        *ngIf="!currentUserImage == '' || !currentUserImage == null"
        routerLink="../community/profile">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        <ion-thumbnail style="padding: 0.5rem;">
          <img src="{{ currentUserImage }}">
        </ion-thumbnail>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light" *ngIf="studentVideos.length">
    <div class="button-bar">
    <ion-button
      size="small"
      shape="round"
      [class]="allSelected"
      (click)="selectAll()">All
    </ion-button>
    <ion-button
      size="small"
      shape="round"
      [class]="myVideosSelected"
      (click)="selectMyVideos()">My videos
    </ion-button>
    <ion-button
      size="small"
      shape="round"
      [class]="studentVideosSelected"
      (click)="selectStudentVideos()">Student videos
  </ion-button>
  </div>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    routerLink="./add-video"
    fill="solid" 
    expand="block" 
    color="secondary"
    >Add video 
    <ion-icon name="videocam" slot="end"></ion-icon>
</ion-button>
  <ion-list>
    <ion-item routerLink="./example-detail">
      <ion-label><h2>Example video</h2></ion-label>
      <ion-label slot="end">
        <p>2. April 2022</p>
        <ion-badge color="success">Completed</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item-divider *ngIf="studentVideos.length">
    <ion-label>
      Student videos
    </ion-label>
  </ion-item-divider>
  <ion-list *ngIf="studentVideos.length">
    <ion-item>
      <ion-label><h2>Beispielvideo</h2></ion-label>
      <ion-label><p>2.April 2022</p></ion-label>
    </ion-item>
    <ion-item>test</ion-item>
  </ion-list>
</ion-content>
