<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/content"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ videoTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video
    #studentVideo
    src="{{videoUrl}}"
    width="100%"
    playsinline
    class="video"
    controls>
  </video>
  <ion-item>
    <h1> {{ videoTitle }}</h1>

  </ion-item>
  <ion-item>
    <p>{{ videoInfo }}</p>
  </ion-item>
  <ion-button (click)="getInfo()">Get info</ion-button>
</ion-content>
