<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/content"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ videoTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div sticky="true">
    <video
      #studentVideo
      src="{{videoUrl}}"
      width="100%"
      playsinline
      controls
      [(currentTime)]="currentTime"
      class="video">
    </video>
  <!--   <ion-row>
      <ion-col class="control-bar">
        <ion-button 
          size="small" 
            color="dark" >          
          <ion-icon name="play-skip-back-outline"></ion-icon>
        </ion-button>  
      </ion-col>
      <ion-col class="control-bar">
        <ion-button 
            size="small" 
            color="dark">          
          <ion-icon name="play-back-circle-outline"></ion-icon>
          -5
        </ion-button>  
      </ion-col>
      <ion-col class="ion-text-center control-bar">
        <ion-button 
          size="small" 
          color="dark" 
          (click)="playPauseStudentVideo()">
          <ion-icon [name]="paused ? 'play-outline' : 'pause-outline'"></ion-icon>
        </ion-button> 
      </ion-col>
      <ion-col class="ion-text-end control-bar">
        <ion-button 
          size="small" 
          color="dark" >
          +5
          <ion-icon name="play-forward-circle-outline"></ion-icon>           
        </ion-button>   
      </ion-col>       
    </ion-row> -->
    <div>    
      
      <ion-progress-bar
        color="secondary" 
        [value]="timeLine">
      </ion-progress-bar>
    </div>   
  </div>
  
</ion-content>
