
<ion-header>
  <ion-toolbar>
    <ion-title>Add video</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display the video stream while capturing -->
  <video class="video" #video autoplay playsinline muted [hidden]="!isRecording"></video>
 
  <!-- Neccessary for the video player -->
  <div id="player" slot="fixed"></div>
 
  <ion-list *ngIf="!isRecording">
    <ion-item *ngFor="let video of videos;" (click)="playVideo(video)" tappable>
      {{ video }}
    </ion-item>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="isRecording ? stopRecord() : recordVideo()" [color]="isRecording ? 'danger' : 'secondary'">
      <ion-icon [name]="isRecording ? 'stop' : 'videocam'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

