.friends-card {
    padding-left: 1rem;
}
ion-icon {
    --ionicon-stroke-width: 16px;
}
.activated {
    --background: #5d6770;
    --color: #fff;
  } 
  .inactive {
    --background: #edefef;
    --color: var(--ion-color-primary);
  }