<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="../../assets/icon/icon.png">
    </ion-thumbnail>
    <ion-title>Friends</ion-title>    
    <ion-thumbnail
    slot="end"
    *ngIf="currentUserImage == '' || currentUserImage == null"
    style="padding: 0.5rem;">
    <img src="../../assets/happy.png">
  </ion-thumbnail>
  <ion-thumbnail
    slot="end"
    *ngIf="!currentUserImage == '' || !currentUserImage == null"
    style="padding: 0.5rem;">
    <img src="{{ currentUserImage }}">
  </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="sentRequestId != ''">
    <ion-card-subtitle>Friend request sent to:</ion-card-subtitle>
    <ion-item>
      <ion-icon name="happy-outline" *ngIf="(sentRequestImage == '')"></ion-icon>
      <ion-avatar>
        <ion-img [src]="sentRequestImage" *ngIf="(sentRequestImage !== '')"></ion-img>
      </ion-avatar>
      <ion-label class="friends-card">{{ sentRequestEmail }}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="receivedRequestId != ''">
    <ion-card-subtitle>Friend request from:</ion-card-subtitle>
    <ion-item>
      <ion-icon name="happy-outline" *ngIf="(receivedRequestImage == '')"></ion-icon>
      <ion-avatar>
        <ion-img [src]="receivedRequestImage" *ngIf="(receivedRequestImage !== '')"></ion-img>
      </ion-avatar>
      <ion-label class="friends-card">{{ receivedRequestEmail }}</ion-label>
      <ion-icon 
        name="thumbs-down-outline"
        style="color: rgb(138, 14, 14); padding-right: 1rem"
        (click)="declineRequest()"></ion-icon>
      <ion-icon 
        name="thumbs-up-outline" 
        style="color: rgb(17, 145, 32);"
        (click)="confirmRequest()"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-button 
    fill="solid" 
    expand="block" 
    color="secondary"
    (click)="openAddConnection()"
    >Add friend
    <ion-icon name="person" slot="end"></ion-icon>
  </ion-button>
  <ion-card *ngFor="let friend of friends">
    <ion-card-header>      
      <ion-card-title>{{ friend.name }}</ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col size="4">
        <img src="{{ friend.profileImage }}" *ngIf="(friend.profileImage !== '')"/>
        <ion-icon name="happy-outline" *ngIf="(friend.profileImage == '')"></ion-icon>
      </ion-col>
      <ion-col size="8">        
        <ion-card-content>
          {{ friend.email }}
        </ion-card-content>
      </ion-col>
    </ion-row>    
  </ion-card>
</ion-content>
