<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="../../assets/icon/icon.png">
    </ion-thumbnail>
    <ion-title>Community</ion-title>
    <ion-button 
        slot="end" 
        routerLink="./profile"
        color="light">
     My profile</ion-button>   
    
  </ion-toolbar>
  <ion-toolbar *ngIf="groups.length">
    <ion-segment value="all">
      <ion-segment-button value="all" (click)="selectAll()">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="friends" (click)="selectFriends()">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups" (click)="selectGroups()">
        <ion-label>Groups</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="sentRequestId != ''">
    <ion-card-subtitle>Friend request sent to:</ion-card-subtitle>
    <ion-item>
      <ion-icon name="happy-outline" *ngIf="(sentRequestImage == '')"></ion-icon>
      <ion-avatar>
        <ion-img [src]="sentRequestImage" *ngIf="(sentRequestImage !== '')"></ion-img>
      </ion-avatar>
      <ion-label class="friends-card">{{ sentRequestEmail }}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="receivedRequestId != ''">
    <ion-card-subtitle>Friend request from:</ion-card-subtitle>
    <ion-item>
      <ion-icon name="happy-outline" *ngIf="(receivedRequestImage == '')"></ion-icon>
      <ion-avatar>
        <ion-img [src]="receivedRequestImage" *ngIf="(receivedRequestImage !== '')"></ion-img>
      </ion-avatar>
      <ion-label class="friends-card">{{ receivedRequestEmail }}</ion-label>
      <ion-icon 
        name="thumbs-down-outline"
        style="color: rgb(138, 14, 14); padding-right: 1rem"
        (click)="declineRequest()"></ion-icon>
      <ion-icon 
        name="thumbs-up-outline" 
        style="color: rgb(17, 145, 32);"
        (click)="confirmRequest()"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-row>
    <ion-col size="6">
      <ion-button 
        fill="solid" 
        expand="block"
        size="small"
        color="secondary">Create a group
        <ion-icon name="people" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button 
        fill="solid" 
        expand="block"
        size="small"
        color="secondary"
        (click)="openAddConnection()">Add a friend 
        <ion-icon name="person" slot="end"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

<ion-item-divider *ngIf="this.allSelected || this.friendsSelected" sticky="true">
    My learning friends
</ion-item-divider>
<ion-item *ngIf="!friends.length" sticky="true">
  No learning friends yet
  <ion-icon slot="end" name="musical-notes"></ion-icon>
</ion-item>

<ion-list *ngIf="allSelected || friendsSelected">
  <ion-item *ngFor="let friend of friends" routerLink="./friend-detail/{{friend.id}}">
    <ion-label *ngIf="friend.name == '' || friend.name == null">
      <h2>{{ friend.email }}</h2>
    </ion-label>
    <ion-label *ngIf="!friend.name == '' || !friend.name == null">
      <h2>{{ friend.name }}</h2>
    </ion-label>
    <img 
      src="{{ friend.profileImage }}" 
      *ngIf="(friend.profileImage !== '')"
      width="50px"
      slot="end"/>
      <img 
      src="../../assets/happy.png" 
      *ngIf="(friend.profileImage == '')"
      width="50px"
      slot="end"/>
  </ion-item>
</ion-list>
<ion-item-divider *ngIf="this.allSelected || this.groupsSelected" sticky="true">
    My learning groups
</ion-item-divider>
<ion-item *ngIf="!groups.length">
  No learning groups yet
  <ion-icon slot="end" name="musical-notes"></ion-icon>
</ion-item>
<ion-list *ngFor="let group of groups">
  <ion-item>{{ connection.id }}</ion-item>
  <ion-item>{{ connection.users }}</ion-item>
</ion-list>
</ion-content>
