<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="content" #content>
      <ion-icon [name]="content.selected ? 'school' : 'school-outline'"></ion-icon>
      <ion-label>School area</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="community" #community>
      <ion-icon [name]="community.selected ? 'people' : 'people-outline'"></ion-icon>
      <ion-label>Friends area</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="log-out-outline" (click)="confirmLogout()"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>