<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/content"></ion-back-button>
    </ion-buttons>
    <ion-title>Add video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab *ngIf="isRecording" vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button 
    (click)="stopRecord()" 
    color="danger"
    style="opacity: 0.9;">
      <ion-icon name="stop"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Display the video stream while capturing -->
  <hr>
  <ion-label *ngIf="isRecording" color="danger"><h2>...is recording</h2></ion-label>
  <video class="video" #video autoplay playsinline muted [hidden]="!isRecording"></video>

 
  <!-- Neccessary for the video player -->
  <div id="player"></div>
 
  <div *ngIf="!playerIsInitialized" (click)="setPlayer()">
    <ion-list *ngFor="let videoUrl of videoUrls">
      <ion-button (click)="playVideo(videoUrl)" expand="block">
        Watch recorded video
        <ion-button slot="end"><ion-icon name="play-outline"></ion-icon></ion-button>
      </ion-button>
    </ion-list>
  </div>
 
  <div *ngIf="!videoUrls.length == 0">    
    <form [formGroup]="titleAndNotes" (ngSubmit)="addVideo()">
      <ion-item>
        <ion-label>Title:</ion-label>
        <ion-input
          type="title"
          formControlName="title" 
          placeholder="Give your video a title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Notes:</ion-label>
        <ion-input 
          type="notes"
          formControlName="notes" 
          placeholder="Comment on your video"></ion-input>
      </ion-item>
     <ion-button [disabled]="!titleAndNotes.get('title').valid">test</ion-button>
      <ion-button 
          type="submit"
          expand="block"
          color="secondary">I take this video!</ion-button> <!-- [disabled]="!titleAndNotes.get('title').valid" -->
    </form>
    
  </div>
  <hr>
  <ion-row *ngIf="!isRecording">
    <ion-col size="6">
      <ion-button
        size="small"
        expand="block"      
        (click)="cancel()"
        routerLink="../content">Cancel</ion-button>    
    </ion-col>
    <ion-col size="6">
      <ion-button
        size="small"
        expand="block"
        color="danger"
        (click)="recordVideo()">Record new video</ion-button>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="length === 0" (click)="getDurationFromPlayer()">get duration</ion-button>
  <ion-button (click)="getDurationFromPlayer()">get duration without *ngIf</ion-button>
</ion-content>

