<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/content"></ion-back-button>
    </ion-buttons>
    <ion-title>Add video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab *ngIf="isRecording" vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button 
    (click)="stopRecord()" 
    color="danger"
    style="opacity: 0.9;">
      <ion-icon name="stop"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Display the video stream while capturing -->
  <hr>
  <ion-label *ngIf="isRecording" color="danger"><h2>...is recording</h2></ion-label>
  <video class="video" #video autoplay playsinline muted [hidden]="!isRecording"></video>

 
  <!-- Neccessary for the video player -->
  <div id="player"></div>
 
  <div *ngIf="playerIsInitialized">
    <form #titleAndNotes="ngForm" (ngSubmit)="openAlert(titleAndNotes)">
      <ion-item>
        <ion-label>Title:</ion-label>
        <ion-input
          type="text"
          ngModel
          name="title"
          placeholder="Give your video a title"
          required
          minlength="2"
          #title="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Notes:</ion-label>
        <ion-textarea rows="2"
          type="text"
          ngModel
          name="notes"
          placeholder="Comment on your video"
          maxlength="600"></ion-textarea>
      </ion-item>
      <ion-button
          type="submit"
          [disabled]="!titleAndNotes.valid"
          expand="block"
          color="secondary">I take this video!</ion-button>
    </form>    
  </div>
  <hr>
  <ion-row *ngIf="!playerIsInitialized || !isRecording">
    <ion-col size="6">
      <ion-button
        size="small"
        expand="block"      
        routerLink="../content">Cancel</ion-button>    
    </ion-col>
    <ion-col size="6">
      <ion-button
        size="small"
        expand="block"
        color="danger"
        (click)="recordVideo()">Record new video</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

