<ion-header>
  <ion-toolbar>
    <ion-title>Add to friends:</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of notConnectedUsers" button (click)="selectUser(user)">
      <ion-icon name="happy-outline" *ngIf="(user.profileImage == '')"></ion-icon>
      <ion-avatar>
        <ion-img [src]="user.profileImage" *ngIf="(user.profileImage !== '')"></ion-img>
      </ion-avatar>
      <ion-label class="friends-card"> {{ user.email }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>